
services:
  phoenix-db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: phoenix_api
    volumes:
      - phoenix-db-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  symfony-db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: symfony_app
    volumes:
      - symfony-db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  phoenix:
    build: 
      context: ./phoenix-api
      dockerfile: Dockerfile
      target: dev
    depends_on:
      - phoenix-db
    environment:
      DATABASE_URL: ecto://postgres:postgres@phoenix-db/phoenix_api
      SECRET_KEY_BASE: ${PHOENIX_SECRET_KEY_BASE:-thisisasecret111}
      PHX_HOST: 0.0.0.0
      PORT: 4000
    ports:
      - "4000:4000"
    volumes:
      - ./phoenix-api:/app

  symfony:
    build:
      context: ./symfony-app
      dockerfile: Dockerfile
      target: dev
    depends_on:
      - symfony-db
      - phoenix
    environment:
      APP_ENV: dev
      APP_SECRET: ${SYMFONY_APP_SECRET:-thisisasecret222}
      PHOENIX_BASE_URL: http://phoenix:4000
      DATABASE_URL: postgres://postgres:postgres@symfony-db:5432/symfony_app
    ports:
      - "8000:8000"
    volumes:
      - ./symfony-app:/app

volumes:
  phoenix-db-data:
  symfony-db-data:
